{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- page title -->
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body class="bg-pale">
    
<!-- ======================nav bar begins=============================== -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

        <div class="container py-2">


    <!-- ============ Navbar Brand (Logo) ============ -->
            <a class="navbar-brand ml-auto" href="#">
                
                <img src="{% static 'icons/logo2.svg'%}" width="300px" alt="">
              
            </a>
          
     <!-- ============ Navbar Brand (Logo) ends ============ -->




            <!-- ============= Navbar Toggler (for mobile view)=========== -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ============= Navbar Toggler (for mobile view) ends =========== -->
    
            <!-- ================ Navbar Links ================-->
            <div class="collapse navbar-collapse" id="navbarNav" >
                <ul class="navbar-nav ms-auto">

                    <!-- welcome statement -->
                    <li class="nav-item active">
                        <a class="nav-link">Welcome, <span class="text-green">{{ user.username }}!</span></a>
                    </li>

                    <span class="nav-link">|</span>
                    <!-- logout button -->
                    <li class="nav-item active" >
                        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link text-light" style="background-color: #e40f41; border-radius: 3px;" class="px-4 py-2 text-light nav-link text-light">logout</button>
                        </form>
                    </li>
                    

                </ul>
            </div>
        </div>
    </nav>
<!-- =================nav bar ends=============================== -->


<!-- =========================== body section begins ===================== -->
    <section >
        <!-- action card for the lecturer -->
        <div class="container" style="margin-top: 8rem;">
        <!-- <div class="card" style="width: 18rem; color: black;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> </li>
              <li class="list-group-item"> </li>
              <li class="list-group-item"> <a href="{% url 'Qrcode:select_course_unit_lecturer' %}">Generate QR Code for Lecture</a></li>
              <li class="list-group-item"><a href="{% url 'lecturer:select_course_unit_for_report' %}">Generate attendance report</a></li>
              
            </ul>
          </div> -->


          <div class="d-flex align-items-center mt-4  flex-wrap">

            <div class="bg-green px-4 py-2 rounded mt-2">

                <a href="/admin" class="nav-link">Dashboard</a>
                
            </div>

            <div class="bg-white px-4 py-2 rounded mt-2 mx-2">

                <a href="{% url 'users:graphs' %}" class="nav-link">Graphs</a>
                
            </div>

            <div class="bg-white px-4 py-2 rounded mt-2" class="nav-link">

                <a href="{% url 'users:shared_reports' %}" class="nav-link">Reports</a>
                
            </div>

            

          </div>

        </div>

         <!-- ================action card for the lecturer ends =============-->

        <!-- ========this container has the site administration ========-->
        <div class="container bg-white p-5 rounded mt-4">
          
                <p class="title text-green">Site Administration</p>
            
        
                <div class="row">
                    {% for app in app_list %}
                        {% for model in app.models %}
                            <div class="col-md-4 mb-3">
                                <div class="card bg-pale border-none">
                                    <div class="card-header bg-green border-none py-4">
                                        <b>{{ model.name }}</b>
                                    </div>
                                    <div class="card-body text-green">
                                        <p class="card-title">
                                            <span>App:</span> {{ app.name }}
                                        </p>
                                        <p class="bg-white p-3 rounded">
                                            <a href="{{ model.admin_url }}" class="nav-link text-dark">Manage {{ model.name }}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

            </div>
        
            
        
    </section>

    

    <!-- ==================body section ends ======================== -->

<!-- =================== footer begins ==================== -->
<footer class="">
    <div class="container  my-3 rounded py-5">
        <div class="row">
            <div class="col-md-4 bg-white rounded p-4">
                <b class="text-green">Contact us</b>
                <br><br>
                <p>Email: info@mak.ac.ug</p>
                <p>Phone: +256 414 533 332</p>
            </div>
            <div class="col-md-4 ">
                <div class="bg-white rounded p-4">

                    <b class="text-green">Developers</b>
                    <br><br>
                    <ul class="list-unstyled">
                    <li class="mb-2">Jemimah</li>
                    <li class="mb-2">Mariam</li>
                    <li class="mb-2">Ashley</li>
                    <li class="mb-2">Apollo</li>
                    <li class="mb-2">Hope</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-4 bg-white rounded p-4">
                <b class="text-green">Follow Us</b>
                <br><br>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <br/>
        <small class="text-secondary text-center">&copy; 2024 KYAMBOGO UNIVERSITY - College of Computing and Information Science. All Rights Reserved.</small>
    </div>
</footer>


     <!-- js for bootstrap  -->

     <script src="../../static/js/bootstrap.bundle.js"></script>


<!-- footer ends -->
</body>
</html>
